<div class="course mat-elevation-z8">

  <div class="table-search">
    <app-search [dataSource]="dataSource"></app-search>
  </div>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table class="lessons-table"
             [dataSource]="dataSource"
             matSort
             matSortActive="seqNo"
             matSortDirection="asc"
             matSortDisableClear
  >

    <ng-container matColumnDef="seqNo">
      <mat-header-cell mat-sort-header *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let lesson">{{lesson.seqNo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let lesson">{{lesson.description}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="duration">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Duration</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let lesson">{{lesson.duration}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"
             (click)="onRowClicked(row)">

    </mat-row>

  </mat-table>

  <!--<mat-paginator [length]="course?.lessonsCount" [pageSize]="3"-->
                 <!--[pageSizeOptions]="[3, 5, 10]"></mat-paginator>-->
  <app-pagination [dataSource]="dataSource"
                  [pageSize]="3"
                  [pageSizeOptions]="[3, 5, 10]"
  ></app-pagination>
</div>

